<%- include('../partials/header.ejs') %>
    <main id="main-principal" class="p-1 text-bg-dark" style="height: 100vh;">

        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="nav navbar-nav" style="top:20px">
                <a class="nav-item nav-link fs-3" href="/administrador"><i class="bi bi-caret-left-fill"></i> Volver</a>
            </div>
        </nav>

        <div class="p-3 d-flex flex-wrap gap-3 justify-content-center">
            <% if (productos.length !==0) { %>
                <% productos.forEach(producto=> { %>
                    <div class="card text-center rounded-5 align-items-center justify-content-center"
                        style="overflow: hidden;width:23%;height:500px">
                        <% if (producto.imagen) { %>
                            <img class="card-img-top h-50"
                                src="data:image/jpeg;base64, <%= producto.imagen.toString('base64') %>" alt="Title" />
                            <% } %>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <%= producto.nombre%>
                                    </h4>
                                    <p class="card-text">
                                        <%= producto.descripcion %>
                                    </p>
                                    <!-- <p class="card-text">
                                        Cantidad: <%= producto.cantidad %>
                                    </p> -->
                                    <p class="card-text">
                                        <i class="bi bi-currency-dollar"></i>
                                        <%= producto.precio %>
                                    </p>
                                    <a class="btn btn-danger"" href="/administrador/productos/<%= producto.id %>">Eliminar <i
                                            class="bi bi-trash"></i></a>
                                </div>
                    </div>
                    <% }); %>
        </div>
        <% } else { %>
            <h2>Aún no hay productos en venta</h2>
            <% } %>

    </main>
    <%- include('../partials/footer.ejs') %>