<%- include('../partials/header.ejs') %>
    <main id="main-principal" class="" style="height: 100vh;">

        <%- include('navbar.ejs') %>

            <% contactos.forEach(cont=> { %>
                <div class="card text-start">
                    <div class="card-body">
                        <h4 class="card-title">
                            <%= cont.contacto%>
                        </h4>
                        <p class="card-text">
                            <%= cont.tipo %>
                        </p>
                    </div>
                </div>
                <% }); %>

    </main>
    <%- include('../partials/footer.ejs') %>